# ignore some commonly used 
# data output/input folders
# the "data" directory itself 
# shall only contain 
# configuration text files!
/scratch
/output
/batch
/batchDir
/Thread*.txt
*.log
/result
/evgen/
/simfiles/
do_*
/MC_data/
/data*/Thread*

# AcquRoot histogram files
/histograms

#Farm job files
/jobs